<md-content layout="row" layout-align="{{list.layoutAlign}}" flex class="md-padding">
  <md-card flex="{{list.crudCardFlex}}" class="translate-x" ng-class="{'on': list.editMode}">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h6 ng-show="!list.editMode">
          <span>Add Company</span>
        </h6>
        <div ng-show="list.editMode" layout="row" layout-align="start center">
          <md-button class="md-icon-button" ng-click="list.editCompany()">
            <md-icon>arrow_back</md-icon>
          </md-button>
          <h6>Edit: {{list.company.name}}</h6>
        </div>
      </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content class="white-bg" layout="row" flex>
      <md-content class="white-bg" layout="column" flex>
        <form name="list.companyForm" layout="column" class="md-padding" flex>
          <md-input-container>
            <label>Name</label>
            <input required name="name" ng-model="list.company.name"  />
            <div ng-messages="list.companyForm.name.$error">
              <div ng-message="required">Company name is required</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Email</label>
            <input name="email" type="email" ng-model="list.company.email"  />
            <div ng-messages="list.companyForm.email.$error">
              <div ng-message="email">You did not enter your email address correctly</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Phone</label>
            <input type="number" name="phone" ng-model="list.company.phone"  />
            <div ng-messages="list.companyForm.phone.$error">
              <div ng-message="number">You did not enter your phone correctly</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Adress</label>
            <input ng-model="list.company.address"  />
          </md-input-container>
          <md-input-container>
            <label>City</label>
            <input ng-model="list.company.city"  />
          </md-input-container>
          <md-input-container>
            <label>Country</label>
            <input ng-model="list.company.country"  />
          </md-input-container>
          <md-input-container md-no-float>
            <md-chips ng-model="list.company.owners" name="owners"
                  md-removable="list.removeCompanyOwners()" placeholder="Enter a owner...">
              <md-chip-template>
                <strong>{{$chip}}</strong>
              </md-chip-template>
            </md-chips>
          </md-input-container>
        </form>
      </md-content>
    </md-content>
    <md-card-actions class="padding-bottom" layout="row" layout-align="start center">
      <span flex></span>
      <md-button class="md-primary md-raised md-icon-button" ng-disabled="list.companyForm.$invalid || list.loading" ng-show="!list.editMode" ng-click="list.addCompany()">
        <md-tooltip>Add Company</md-tooltip>
        <md-icon>add</md-icon>
      </md-button>
      <md-button class="md-primary md-raised md-icon-button" ng-disabled="list.companyForm.$invalid || list.loading" ng-show="list.editMode" ng-click="list.updateCompany()">
        <md-tooltip>Save Company</md-tooltip>
        <md-icon>check</md-icon>
      </md-button>
    </md-card-actions>
    <md-progress-linear ng-show="list.loading === 'create' || list.loading === 'update'"></md-progress-linear>
  </md-card>
  <span class="md-padding"></span>
  <md-content class="fade-out translate-x" layout="column" flex ng-show="!list.editMode" ng-class="{'on': list.editMode}">
    <h1 class="md-title padding-top">List of Companies</h1>
    <md-content layout="row" flex>
      <md-content class="company-wrapper" layout="column" flex>
        <div layout="row" layout-wrap flex>
          <div flex="33"  ng-repeat="company in list.data.companies track by company._id | orderBy: 'name'" layout-align="start start">
            <md-card flex="100" class="company-card" ng-mouseenter="list.focusCompany = company._id" ng-mouseleave="list.focusCompany = undefined" ng-class="{'md-whiteframe-7dp': list.focusCompany === company._id, 'opacity-card': list.focusCompany && list.focusCompany !== company._id}">
              <div layout="row" layout-align="start center" class="md-padding">
                <div class="company-initial margin-right">
                  {{company.name | limitTo: 1}}
                </div>
                <p class="md-subhead">
                  {{company.name}}
                </p>
              </div>
              <md-divider></md-divider>
              <div class="md-padding">
                <div layout="row" layout-align="start start" ng-show="company.address">
                  <md-icon class="margin-right">navigation</md-icon>
                  <p class="md-body-1" flex>
                    {{company.address}}
                  </p>
                </div>
                <div layout="row" layout-align="start start" ng-show="company.city || company.country">
                  <md-icon class="margin-right">place</md-icon>
                  <p class="md-body-1" flex>
                    {{company.city}} <span ng-show="company.city && company.country">•</span> {{company.country}}
                  </p>
                </div>
                <div layout="row" layout-align="start start" ng-show="company.phone">
                  <md-icon class="margin-right">phone</md-icon>
                  <p class="md-body-1" flex>
                    {{company.phone}}
                  </p>
                </div>
                <div layout="row" layout-align="start start" ng-show="company.email">
                  <md-icon class="margin-right">email</md-icon>
                  <p class="md-body-1" flex>
                    {{company.email}}
                  </p>
                </div>
                <div layout="row" layout-align="start start" ng-show="company.owners.length">
                  <md-icon class="margin-right">group</md-icon>
                  <md-chips ng-model="company.owners" name="owners" readonly="true" flex>
                    <md-chip-template>
                      <md-icon>person</md-icon>
                      <span class="md-caption">{{$chip}}</span>
                    </md-chip-template>
                  </md-chips>
                </div>
              </div>
              <div class="card-actions" layout="row" flex ng-class="{'slide-down': list.focusCompany === company._id}">
                <md-button ng-click="list.deleteCompany(company._id)" ng-disabled="list.loading === 'delete' + company._id">Delete</md-button>
                <span flex></span>
                <md-button class="md-primary" ng-click="list.editCompany(company)" ng-disabled="list.loading === 'delete' + company._id">Edit</md-button>
              </div>
              <md-progress-linear ng-show="list.loading === 'delete' + company._id"></md-progress-linear>
            </md-card>
          </div>
          <div ng-show="list.data.companies">
            There is nothing to show here
          </div>
        </div>
      </md-content>
    </md-content>
  </md-content>
</md-content>
